@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,700,800,italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

@layer components {
  #root {
    @apply font-app flex flex-col min-h-screen h-screen;
  }

  header nav a {
    @apply p-[6px] rounded-[4px] hover:text-white;
  }

  [aria-current='page'] {
    @apply bg-[var(--primary)];
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes spin-delay {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-delay {
  animation: spin-delay 2s ease-in-out;
  animation-delay: 3s;
}
